<nav>
  <div class="site-title">
    <a href="/"><h1>haxblog</h1></a>
    <p>hackerman!</p>
  </div>
  <ul>
    <li>
      <a href="/">home</a>
    </li>
    <li>
      <a href="/about">about</a>
    </li>
    <li>
      <a href="/blogs/create">new blog</a>
    </li>
  </ul>
</nav>
