<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>about me</h2>
      <p>nevermind me, just lrning2code</p>
      <p>k thx bye</p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
